<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head" />


<!--================Menu Area =================-->
<header th:replace="fragments/main_menu.html :: main_menu">
</header>
<!--================End Menu Area =================-->


<body>



<div class="container">
  <h1>Reset Password</h1>
  <br />
  <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>

  <form th:action="@{/account/resetPassword}" method="post" class="form-horizontal">
    <div class="row">
      <label class="col-sm-1" for="email">Email:</label> <span class="col-sm-5"><input class="form-control" id="email" name="email" type="email" /></span>
      <button class="btn btn-primary" type="submit">Reset Password</button>
    </div>
  </form>

  <br />
  <a class="btn btn-primary" th:href="@{/account/login}">Sign In</a>
  <a class="btn btn-default" th:href="@{/account/signup}">Sign Up</a>
</div>


<footer th:replace="fragments/footer.html :: footer"></footer>
<!--================End Footer Area =================-->


<script th:replace="fragments/scripts.html :: scripts"></script>

</body>
</html>